<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">File Name</th>
        <th scope="col">Uploaded</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% if files %}
    {% for d in files %}
    <tr class="file-selector" onclick="location.href='{{ d.get_absolute_url }}';">
        <th scope="row">{{ d.base_file }}</th>
        <td>{{ d.uploaded }}</td>
        {% if dds %}
        <td>
            <a class="btn btn-danger btn-sm" href="{% url 'files:dds_delete' %}?id={{ d.pk }}">Delete</a>
        </td>
        {% elif dtf %}
        <td>
            <a class="btn btn-danger btn-sm" href="{% url 'files:dtf_delete' %}?id={{ d.pk }}">Delete</a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
