<div class="row">
    <div class="col file-name">
        File Name
    </div>
    <div class="col">
        Uploaded
    </div>
    <div class="col">
        Delete
    </div>
</div>
{% if files %}
{% for d in files %}
<div class="file-selector" onclick="location.href='{{ d.get_absolute_url }}';">
    <div class="row">
        <div class="col file-name">
            {{ d.base_file }}
        </div>
        <div class="col">
            {{ d.uploaded }}
        </div>
        <div class="col">
            {% if dds %}
            <a class="file-delete" href="{% url 'files:dds_delete' %}?id={{ d.pk }}">Delete</a>
            {% elif dtf %}
            <a class="file-delete" href="{% url 'files:dtf_delete' %}?id={{ d.pk }}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
