{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ dds.base_file }}</h2>
            <ul>
                <li>Project - {{ dds.project }}</li>
                <li>Uploaded - {{ dds.uploaded }}</li>
            </ul>
            <button onclick="window.location.href = '{{ dds.export_url }}';">Export File!</button>
            <button onclick="window.location.href = '{% url 'files:dds_mappings_export' %}?id={{ dds.pk }}';">Export
                Mappings
            </button>
            <div>
                <h2>All Functions</h2>
                <ul>
                    <li>
                        <form method="POST" action="{% url 'files:orphans' %}" id="dds-orphans">
                            {% csrf_token %}
                            <label>Import Mappings</label>
                            <select name="dtf-id">
                                {% if dtfs %}
                                {% for d in dtfs %}
                                <option value="{{ d.pk }}">{{ d.file }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn-sm btn-primary" type="submit">Find Orphans</button>
                        </form>
                    </li>
                    <li>
                        <div class="dds-util" data-id="{{ dds.pk }}"
                             data-url="{% url 'files:correct_dec_check' %}?id={{ dds.pk }}">
                            <button>Correct Device Check</button>
                        </div>
                    </li>
                    <li>
                        <form method="post" enctype="multipart/form-data" action="{% url 'files:fac_exist' %}"
                              id="dds-facs">
                            {% csrf_token %}
                            <label>Excel facility upload</label>
                            <input type="file" name="facs">
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button type="submit">Check All Facilities Exist</button>
                        </form>
                    </li>
                    <li>
                        <div class="dds-util" data-id="{{ dds.pk }}"
                             data-url="{% url 'files:correct_dec_check' %}?id={{ dds.pk }}">
                            <button>Correct Device Check</button>
                        </div>
                    </li>
                    <li>
                        <div class="dds-util" data-id="{{ dds.pk }}"
                             data-url="{% url 'files:unmapped_facs' %}?id={{ dds.pk }}">
                            <button>Check Missing Facilities</button>
                        </div>
                        <div id="map-unmapped" data-id="{{ dds.pk }}" data-map="True"
                             data-url="{% url 'files:unmapped_facs' %}">
                            <button>Check and Map Missing Facilities</button>
                        </div>
                    </li>
                </ul>
            </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'files:dds_add_mappings' %}"
                  id="dds-mapping">
                {% csrf_token %}
                <h3>Import Mappings</h3><br>
                <a href="{% url 'files:mapping_template' %}">Download Template</a><br>
                <label>Mappings Excel</label>
                <input type="file" name="mappings"><br>
                <input type="checkbox" name="died-only">DEID Only<br>
                <select name="dtf-id">
                    {% if dtfs %}
                    {% for d in dtfs %}
                    <option value="{{ d.pk }}">{{ d.file }}</option>
                    {% endfor %}
                    {% endif %}
                </select><br>
                <input hidden name="dds-id" value="{{ dds.pk }}">
                <button type="submit">Map!</button>
            </form>
        </div>
        <div class="col" id="device-info">
            <h1>All Devices</h1>
            {% if devices %}
            {% include 'files/snippets/device_accord.html' with devices=devices %}
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Response Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {

        function createPointTable(points, rows) {
            var table = "<table style='width:100%'>" + buildHeaders(rows);
            for (i = 0; i < points.length; i++) {
                table += "<tr>";
                for (j = 0; j < rows.length; j++) {
                    table += "<td style='font-size:8pt'>" + points[i][rows[j]] + "</td>";
                }
                table += "</tr>";
            }
            table += "</table>";
            return table
        }

        function buildHeaders(rows) {
            var headerHTML = "<tr>";
            for (i = 0; i < rows.length; i++) {
                headerHTML += "<th>" + rows[i] + "</th>";
            }
            headerHTML += "</tr>";
            return headerHTML
        }

        function createResponseHTML(data) {
            if (data.error) {
                return "<h1>ERROR</h1>"
            }
            var text = "<h2>" + data.header + "</h2>";
            var table = createPointTable(data.responseData, data.rows);
            text += table;
            return text
        }

        $("#dds-mapping").submit(function (event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            var _url = $(this).attr("action");
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

        $("#dds-orphans").submit(function (event) {
            event.preventDefault();
            var formData = $("#dds-orphans").serialize();
            var _url = $(this).attr("action");
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: formData,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

        $("#dds-facs").submit(function (event) {
            event.preventDefault();
            var formData = new FormData($(this)[0]);
            var _url = $(this).attr("action");
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

        $(".dds-util").click(function () {
            var _url = $(this).data("url");
            var _data = {id: $(this).data("id")};
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: _data,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            })
        });

        $("#map-unmapped").click(function () {
            var _url = $(this).data("url");
            var _data = {
                id: $(this).data("id"),
                map: $(this).data("map")
            };
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: _data,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $("#device-info").html(data.devices_html);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            })
        });

        $(".dg-mappings").click(function () {
            var _url = $(this).data("url");
            var _data = {
                data_group: $(this).data("group"),
                device: $(this).data("device"),
                id: {{ dds.pk }}
            };
            var method = "POST";
            $.ajax({
                url: _url,
                type: method,
                data: _data,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            })
        });


    });
</script>
{% endblock %}