{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row file-header">
        <h2>{{ dds.base_file }}</h2>
        <ul>
            <li>Project - {{ dds.project }}</li>
            <li>Uploaded - {{ dds.uploaded }}</li>
        </ul>
        <button onclick="window.location.href = '{% url 'files:dds_export' %}?id={{ dds.pk }}';">Export File!</button>
        <button onclick="window.location.href = '{% url 'files:dds_mappings_export' %}?id={{ dds.pk }}';">Export
            Mappings to Excel
        </button>
    </div>
    <div class="row">
        <div class="col-sm-7">
            <div class="function-container">
                <h2>Validation Functions</h2>
                <div class="card mb-3">
                    <div class="card-header">
                        Find all Mapped points without a matching DEID in the DTF
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'files:orphans' %}" id="dds-orphans">
                            {% csrf_token %}
                            <label for="dtf-id">Choose DTF</label>
                            <select name="dtf-id" id="dtf-id">
                                {% if dtfs %}
                                {% for d in dtfs %}
                                <option value="{{ d.pk }}">{{ d.file }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn-sm btn-primary" type="submit">Find Orphans</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Validate first 4 letters in facility match device
                    </div>
                    <div class="card-body">
                        <div class="dds-util btn btn-primary" data-id="{{ dds.pk }}"
                             data-url="{% url 'files:correct_dec_check' %}?id={{ dds.pk }}">
                            GO
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Validate all mapped facilities exist in facilities export
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'files:fac_exist' %}"
                              id="dds-facs">
                            {% csrf_token %}
                            <label>Excel facility upload</label>
                            <input type="file" name="facs"><br>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn btn-primary" type="submit">GO</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Validate Commands from Excel Import
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'files:validate_commands' %}"
                              id="dds-cmds">
                            {% csrf_token %}
                            <select name="dtf-id">
                                {% if dtfs %}
                                {% for d in dtfs %}
                                <option value="{{ d.pk }}">{{ d.file }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <label>Command Upload</label>
                            <a href="{% url 'files:command_validation_template' %}">Download Template</a><br>
                            <input type="file" name="cmds"><br>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn btn-primary" type="submit">GO</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Command export with Device Reg
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'files:export_cmds' %}">
                            {% csrf_token %}
                            <select name="dtf-id">
                                {% if dtfs %}
                                {% for d in dtfs %}
                                <option value="{{ d.pk }}">{{ d.file }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <div class="form-group row">
                                <label for="generic" class="col-sm-4 col-form-label">Generic TLP Data Groups?</label>
                                <div class="col-sm-8">
                                    <input type="checkbox" class="form-control" name="generic" id="generic">
                                </div>
                            </div>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn btn-primary" type="submit">GO</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Validate All mappings
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" action="{% url 'files:validate_maps' %}"
                              id="mapping-validation">
                            {% csrf_token %}
                            <select name="dtf-id">
                                {% if dtfs %}
                                {% for d in dtfs %}
                                <option value="{{ d.pk }}">{{ d.file }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                            <label>All Mappings</label>
                            <a href="{% url 'files:mapping_validation_template' %}">Download Template</a><br>
                            <input type="file" name="pnts"><br>
                            <input hidden name="dds-id" value="{{ dds.pk }}">
                            <button class="btn btn-primary" type="submit">GO</button>
                        </form>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        Find all unmapped facilities
                    </div>
                    <div class="card-body">
                        <div class="file-function-body">
                            <div class="dds-util btn btn-primary" data-id="{{ dds.pk }}"
                                 data-url="{% url 'files:unmapped_facs' %}?id={{ dds.pk }}">
                                Check Missing Facilities
                            </div>
                        </div>
                        <div class="btn btn-primary" id="map-unmapped" data-id="{{ dds.pk }}" data-map="True"
                             data-url="{% url 'files:unmapped_facs' %}">
                            Check and map
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Import Point Mappings</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'files:dds_add_mappings' %}"
                          id="dds-mapping">
                        {% csrf_token %}
                        <input hidden name="dds-id" value="{{ dds.pk }}">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:mapping_template' %}">Download Template</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="map-data" class="col-sm-4 col-form-label">Mappings Excel Import</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="map-data" name="mappings">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="deid-only" class="col-sm-4 col-form-label">DEID Only</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" name="deid-only" id="deid-only">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="add-dgs" class="col-sm-4 col-form-label">Create Data Groups?</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" name="add-dgs" id="add-dgs">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="facility-type" id="udc-fac"
                                       value="point">
                                <label class="form-check-label" for="udc-fac">Use Point Facilities for DG Facility</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="facility-type" id="device-fac"
                                       value="device">
                                <label class="form-check-label" for="device-fac">Use Device for DG Facility</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="map-dtf" class="col-sm-4 col-form-label">Select DTF</label>
                            <div class="col-sm-8">
                                <select name="dtf-id" class="form-control" id="map-dtf">
                                    {% if dtfs %}
                                    {% for d in dtfs %}
                                    <option value="{{ d.pk }}">{{ d.file }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Map!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Import Commands</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" action="{% url 'files:dds_add_commands' %}"
                          id="dds-commands">
                        {% csrf_token %}
                        <input hidden name="dds-id" value="{{ dds.pk }}">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:command_template' %}">Download Template</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cmd-data" class="col-sm-4 col-form-label">Commands Excel Import</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="cmd-data" name="commands">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cmd-dtf" class="col-sm-4 col-form-label">Select DTF</label>
                            <div class="col-sm-8">
                                <select name="dtf-id" class="form-control" id="cmd-dtf">
                                    {% if dtfs %}
                                    {% for d in dtfs %}
                                    <option value="{{ d.pk }}">{{ d.file }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button class="btn btn-primary" type="submit">Map!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Map Facilities from Excel Import</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data"
                          action="{% url 'files:import_facs' %}" id="import-facs" class="dds-import-ajax-form">
                        {% csrf_token %}
                        <input hidden name="dds-id" value="{{ dds.pk }}">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:facility_import_template' %}">Download Excel Import Template</a>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fac-data" class="col-sm-4 col-form-label">Import Excel</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="fac-data" name="fac-data">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Map Facilities</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-5" id="device-info">
            <h1>All Devices</h1>
            {% if devices %}
            {% include 'files/snippets/device_accord.html' with devices=devices %}
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Response Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}