{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row file-header">
        <h2>{{ dtf.base_file }}</h2>
        <ul>
            <li>Project - {{ dtf.project }}</li>
            <li>Uploaded - {{ dtf.uploaded }}</li>
        </ul>
        <button onclick="window.location.href = '{% url 'files:dtf_export' %}?id={{ dtf.pk }}';">Export File!</button>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" action="{% url 'files:unused_dieds' %}"
                  id="dtf-died-check">
                {% csrf_token %}
                <label>Find Unused DEIDs</label>
                <select name="dds-id">
                    {% if ddss %}
                    {% for dds in ddss %}
                    <option value="{{ dds.pk }}">{{ dds.file }}</option>
                    {% endfor %}
                    {% endif %}
                </select><br>
                <input hidden name="dtf-id" value="{{ dtf.pk }}">
                <button type="submit">Find</button>
            </form>
        </div>
        <div class="col" id="device-info">
            <h1>All Arrays</h1>
            {% if arrays %}
            {% for a in arrays %}
            <p>{{ a.name }} - {{ a.niceName }}</p>
            {% endfor %}
            {% endif %}

        </div>
    </div>
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Response Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}