{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row file-header">
        <h2>{{ dtf.base_file }}</h2>
        <ul>
            <li>Project - {{ dtf.project }}</li>
            <li>Uploaded - {{ dtf.uploaded }}</li>
        </ul>
        <button onclick="window.location.href = '{% url 'files:dtf_export' %}?id={{ dtf.pk }}';">Export File!</button>
        <button onclick="window.location.href = '{% url 'files:export_dtf_data' %}?id={{ dtf.pk }}';">Export Data to
            Excel!
        </button>
        <button onclick="window.location.href = '{% url 'files:generic_dtf_data' %}?id={{ dtf.pk }}';">Generic Excel Export
        </button>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form method="post" action="{% url 'files:unused_dieds' %}"
                  id="dtf-died-check">
                {% csrf_token %}
                <label>Find Unused DEIDs</label>
                <select name="dds-id">
                    {% if ddss %}
                    {% for dds in ddss %}
                    <option value="{{ dds.pk }}">{{ dds.file }}</option>
                    {% endfor %}
                    {% endif %}
                </select><br>
                <input hidden name="dtf-id" value="{{ dtf.pk }}">
                <button type="submit">Find</button>
            </form>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Add New Array</h2>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'files:add_array' %}" id="dtf-add-array">
                        {% csrf_token %}
                        <input hidden name="dtf-id" value="{{ dtf.pk }}">
                        <div class="form-group row">
                            <label for="arrayName" class="col-sm-4 col-form-label">Array Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="arrayName" name="arrayName"
                                       placeholder="DI_ARRAY">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="niceName" class="col-sm-4 col-form-label">Nice Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="niceName" name="niceName"
                                       placeholder="niceName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tagName" class="col-sm-4 col-form-label">Tag Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="tagName" name="tagName"
                                       placeholder="DI_N40">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dataType" class="col-sm-4 col-form-label">Data Type</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="dataType" name="dataType" placeholder="r4">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dataType" class="col-sm-4 col-form-label">DEID Naming</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="deid" name="deid" placeholder="DIArr">
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Array type</legend>
                                <div class="col-sm-8">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diai" id="ai" value="ai"
                                               checked>
                                        <label class="form-check-label" for="ai">Analog</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="diai" id="di" value="di">
                                        <label class="form-check-label" for="di">Digital</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label for="bits" class="col-sm-4 col-form-label">Bit Numbers</label>
                            <div class="col-sm-8">
                                <select id="bits" class="form-control" name="bits">
                                    <option value="32" selected>32</option>
                                    <option value="16">16</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dataType" class="col-sm-4 col-form-label">Start-Stop</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="start" name="start" value="0">
                            </div>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="stop" name="stop" value="5">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Import Datagroups from Excel</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data"
                          action="{% url 'files:import_arrays' %}" id="dtf-import-array">
                        {% csrf_token %}
                        <input hidden name="dtf-id" value="{{ dtf.pk }}">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:dtf_dg_import' %}">Download Excel Import Template</a>
                            </div>
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:dtf_dg_import_modbus' %}">Download Modbus Excel Import Template</a>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="dg-data" class="col-sm-4 col-form-label">Import Excel</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="dg-data" name="dg-data">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="modbus" class="col-sm-4 col-form-label">Modbus?</label>
                            <div class="col-sm-8">
                                <input type="checkbox" class="form-control" id="modbus" name="modbus">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="reg-gap" class="col-sm-4 col-form-label">Max Reg Gap for Block</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="reg-gap" name="reg-gap" value="1">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h2>Import String Enumerations from Excel</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" id="dtf-import-enums">
                        {% csrf_token %}
                        <input hidden name="dtf-id" value="{{ dtf.pk }}">
                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <a href="{% url 'files:dtf_dg_import' %}">Download Excel Import Template</a>
                            </div>
                        </div>
                         <div class="form-group row">
                            <label for="dg-data2" class="col-sm-4 col-form-label">Import Excel</label>
                            <div class="col-sm-8">
                                <input type="file" class="form-control" id="dg-data2" name="dg-data">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4" id="device-info">
            {% if arrays %}
            {% include 'files/snippets/dtf_arrays.html' with arrays=arrays dtf=dtf %}
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Response Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}