{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>{{ dtf.base_file }}</h2>
            <ul>
                <li>Project - {{ dtf.project }}</li>
                <li>Uploaded - {{ dtf.uploaded }}</li>
            </ul>
            <button onclick="window.location.href = '{{ dtf.export_url }}';">Export File!</button>
<!--            <button onclick="window.location.href = '{% url 'files:dds_mappings_export' %}?id={{ dds.pk }}';">Export-->
<!--                Mappings-->
<!--            </button>-->
            <div>
                <h2>All Functions</h2>
                <ul>
                    <li>Find Unused DEIDs</li>
                </ul>
            </div>
            <form method="post" action="{% url 'files:unused_dieds' %}"
                  id="dtf-died-check">
                {% csrf_token %}
                <label>Find Unused DEIDs</label>
                <select name="dds-id">
                    {% if ddss %}
                    {% for dds in ddss %}
                    <option value="{{ dds.pk }}">{{ dds.file }}</option>
                    {% endfor %}
                    {% endif %}
                </select><br>
                <input hidden name="dtf-id" value="{{ dtf.pk }}">
                <button type="submit">Find</button>
            </form>
        </div>
        <div class="col" id="device-info">
            <h1>All Arrays</h1>

        </div>
    </div>
    <div class="modal fade" id="response-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Response Data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    $(document).ready(function () {

        function createPointTable(points, rows) {
            var table = "<table style='width:100%'>" + buildHeaders(rows);
            for (i = 0; i < points.length; i++) {
                table += "<tr>";
                for (j = 0; j < rows.length; j++) {
                    table += "<td style='font-size:8pt'>" + points[i][rows[j]] + "</td>";
                }
                table += "</tr>";
            }
            table += "</table>";
            return table
        }

        function buildHeaders(rows) {
            var headerHTML = "<tr>";
            for (i = 0; i < rows.length; i++) {
                headerHTML += "<th>" + rows[i] + "</th>";
            }
            headerHTML += "</tr>";
            return headerHTML
        }

        function createResponseHTML(data) {
            if (data.error) {
                return "<h1>ERROR</h1>"
            }
            var text = "<h2>" + data.header + "</h2>";
            var table = createPointTable(data.responseData, data.rows);
            text += table;
            return text
        }

        $("#dtf-died-check").submit(function (event) {
            event.preventDefault();
            var formData = $("#dtf-died-check").serialize();
            var _url = $(this).attr("action");
            var method = "POST";
            console.log(formData);
            $.ajax({
                url: _url,
                type: method,
                data: formData,
                success: function (data) {
                    var text = createResponseHTML(data);
                    $("#modal-body").html(text);
                    $('#response-modal').modal('show');
                },
                error: function (request, error) {
                    alert("Request: " + JSON.stringify(request));
                }
            });
        });

    });
</script>
{% endblock %}