{% extends 'base.html' %}
{% block body_block %}
<div class="container" style="width: 100%; margin: 0px; max-width: 100%; text-align: center;">
    <h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col file-container">
            {% if task_breakdown %}
            {% for key, values in task_breakdown.items %}
            <h1>{{ key }}</h1>
            {% for task in values %}
            <p>ID: {{ task.task_id }} Name: {{ task.task_name }} In BigTime: {{ task.in_bigtime }}</p>
            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>
        <div class="col file-container">
            {% if bigtime_tasks %}
            {% for key, values in bigtime_tasks.items %}
            <h1>{{ key }}</h1>
            {% for task in values %}
            <p>{{ task }}</p>
            {% endfor %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}