{% extends 'base.html' %}
{% block body_block %}
<style>

    .file-selector {
        width: 100%;
        border: 1px solid transparent;
        border-color: #605e5c;
        text-align: center;
        text-color: black;
        padding: 2px 4px 2px 4px;
        cursor: pointer;
    }

    .file-selector:hover {
        background: #cde2ff;
    }

    .file-name {
        padding
    }

    .file-container {
        text-align: center;
        background: #e0e0e0;
        margin: 25px;
        padding: 15px;
    }

    .file-delete {
        color: black;
    }

    a.file-delete:hover {
        color: red;
    }

    .util-container {
        text-align: center;

    }

    .project-util {
        margin: 7px;
        padding: 5px;
        border: 1px solid transparent;
        border-color: #605e5c;
        width: 50%;
        display: inline-block;
    }





</style>

<div class="container" style="width: 100%; margin: 0px; max-width: 100%">
    <h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col file-container">
            <h2>DDS</h2>
            <div id="dds-form" style="float: left; width: 100%; margin: 10px;">
                <h4>Upload DDS</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'files:dds_upload' %}">
                    {% csrf_token %}
                    {{ dds_form }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Upload</button>
                </form>
            </div>
            <div style="width: 90%; margin-top: 50px;">
                <h4>Files</h4>
                {% include 'projects/snippets/file_table.html' with files=project.dds_set.all %}
            </div>
        </div>
        <div class="col file-container">
            <h2>DTF</h2>
            <div id="dtf-form" style="float: left; width: 100%; margin: 10px;">
                <h4>Upload DTF</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'files:dtf_upload' %}">
                    {% csrf_token %}
                    {{ dtf_form }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Upload</button>
                </form>
            </div>
            <br>
            <div style="width: 90%; margin-top: 50px;">
                <h4>Files</h4>
                {% include 'projects/snippets/file_table.html' with files=project.dtf_set.all %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col util-container">
            <div class="project-util">
                <form method="POST" enctype="multipart/form-data" action="{% url 'projects:long_desc' %}">
                    {% csrf_token %}
                    <h3>Long Description Change</h3><br>
                    <label>Points Export as ".xlsx" file</label><br>
                    <input type="file" name="points"><br>
                    <input hidden name="dds-id" value="{{ dds.pk }}">
                    <button type="submit">Update Long Descriptions</button>
                </form>
            </div>
            <div class="project-util">
                <form method="POST" enctype="multipart/form-data" action="{% url 'projects:create_subs' %}">
                    {% csrf_token %}
                    <h3>Create Substitution XML</h3>
                    <a href="{% url 'projects:templates' %}?file=subs">Download Template</a><br>
                    <label>Substitutions Excel</label><br>
                    <input type="file" name="subs"><br>
                    <button type="submit">Create Substitutions</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    }

</script>
{% endblock %}