{% extends 'base.html' %}
{% block body_block %}
<div class="container" style="width: 100%; margin: 0px; max-width: 100%; text-align: center;">
    <h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col file-container">
            <h2>DDS</h2>
            <div id="dds-form" style="float: left; width: 100%; margin: 10px;">
                <h4>Upload DDS</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'files:dds_upload' %}">
                    {% csrf_token %}
                    {{ dds_form }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Upload</button>
                </form>
            </div>
            <div style="width: 90%; margin-top: 50px;">
                <h4>Files</h4>
                {% include 'projects/snippets/file_table.html' with files=project.dds_set.all dds=True %}
            </div>
        </div>
        <div class="col file-container">
            <h2>DTF</h2>
            <div id="dtf-form" style="float: left; width: 100%; margin: 10px;">
                <h4>Upload DTF</h4>
                <form method="post" enctype="multipart/form-data" action="{% url 'files:dtf_upload' %}">
                    {% csrf_token %}
                    {{ dtf_form }}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button type="submit">Upload</button>
                </form>
            </div>
            <br>
            <div style="width: 90%; margin-top: 50px;">
                <h4>Files</h4>
                {% include 'projects/snippets/file_table.html' with files=project.dtf_set.all dtf=True %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col util-container">
            <div class="project-util">
                <form method="POST" enctype="multipart/form-data" action="{% url 'projects:long_desc' %}">
                    {% csrf_token %}
                    <h3>Long Description Change</h3><br>
                    <label>Points Export as ".xlsx" file</label><br>
                    <input type="file" name="points"><br>
                    <input hidden name="dds-id" value="{{ dds.pk }}">
                    <button type="submit">Update Long Descriptions</button>
                </form>
            </div>
            <div class="project-util">
                <form method="POST" enctype="multipart/form-data" action="{% url 'projects:create_subs' %}">
                    {% csrf_token %}
                    <h3>Create Substitution XML</h3>
                    <a href="{% url 'projects:templates' %}?file=subs">Download Template</a><br>
                    <label>Substitutions Excel</label><br>
                    <input type="file" name="subs"><br>
                    <button type="submit">Create Substitutions</button>
                </form>
            </div>
            <div class="project-util">
                <form method="POST" enctype="multipart/form-data" action="{% url 'projects:galaxy_parse' %}">
                    {% csrf_token %}
                    <h3>Create Substitution XML</h3>
                    <label>Parse Galaxy Dump</label><br>
                    <input type="file" name="galaxy"><br>
                    <button type="submit">Parse</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}