{% extends 'base.html' %}
{% block body_block %}
<body>
<div class="container">
    {% if user.is_staff %}
    <div class="row" style="margin:10px">
        <form method="POST" action="{% url 'projects:add' %}">
            <div class="form-group">
                <h2>Create Project</h2>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    {% endif %}
    <div class="row" style="margin-top: 50px">
        <div class="card text-center">
            <div class="card-header">
                All Projects
            </div>
            <div class="card-body">
                <div class="list-group">
                    {% if projects %}
                    {% for p in projects %}
                    <a href="{{ p.get_absolute_url }}" class="list-group-item list-group-item-action">{{ p }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
</body>
{% endblock %}